<!-- <p>login works!</p> -->
<div *ngIf="hide">
    

<div class="container d-flex ">
    <div class="row">
        <strong style="text-align: center;">Log-In</strong>
    
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="mb-4">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name">
            </div>
            <div class="mb-4">
                <label for="lastname" class="form-label">LastName</label>
                <input type="text" class="form-control" id="lastname" formControlName="lastname">
            </div>
            <div class="mb-4">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                    formControlName="email">
                    <span style="color: rebeccapurple;" *ngIf="email && email.invalid && email.touched">Enter your email</span>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-4">
                <label for="password" class="form-label">password</label>
                <input type="password" class="form-control" id="password" formControlName="Password">
                <span style="color: rebeccapurple;" *ngIf="Password && Password.invalid && Password.touched">Enter your password</span>
            </div>
           <div class="btn">

               <button type="submit" class="btn btn-info" [disabled]="myForm.invalid" class="btn btn-secondary">Submit</button>
               <button type="reset" class="btn btn-danger" (click)="usernotlogin()">Cancel</button>
           </div>
        </form>

    </div>
</div>

</div>