<!-- <p>footer works!</p> -->
<footer>

    <div class="container-fluid">
        <div class="row">
            <div class="card col-md-2">
                <strong>MEN</strong>
                <p>Jeans</p>
                <p>Jumpers</p>
                <p>Leather</p>
                <p>Shorts</p>
                <p>Boots</p>
            </div>

            <div class="card col-md-3">
                <strong>WOMEN</strong>
                <p>Jeans</p>
                <p>Jumpers</p>
                <p>Leather</p>
                <p>Shorts</p>
                <p>Boots</p>
            </div>
            <div class="card col-md-3">
                <strong>KIDS</strong>
                <p>Jeans</p>
                <p>Jumpers</p>
                <p>Leather</p>
                <p>Shorts</p>
                <p>Boots</p>
            </div>
            <div class="card col-md-4 ">


                <strong>FOLLOW US</strong>
                <div class="link">

                    <i class="fa-brands fa-instagram"></i>

                    <i class="fa-brands fa-linkedin"></i>

                    <i class="fa-brands fa-square-facebook"></i>

                    <i class="fa-brands fa-square-twitter"></i>

                </div>

            </div>
            <hr>
        </div>
    </div>
    <!-- <div class="Copyright d-flex justify-content-center">
        Copyright © 2024 | Organic Store

    </div> -->
        
</footer>